/* Style Sheet */

  div {
    border: 1px solid;
    padding: 20px 10px 20px 10px;
    margin: 35px 20px;
    text-align: center;
  }

  img {
    padding: 0 5px;
    width: 270px;
    height: 180px;
    display: inline-block;
    vertical-align: middle;
  }

  #firstDiv img:hover {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
  }

  #secondDiv img:hover {
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px #888888;
  }

  #thirdDiv img:hover {
    border-radius: 30px;
  }

  #fourthDiv img:hover {
    opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */
  }

  .first {
    border: 2px solid rgb(0, 0, 0);
  }

  .first img {
    width:230px;
    height:150px;
  }

  .second {
    border: 2px solid rgb(60, 60, 60);
  }

  .second img {
    width:180px;
    height:120px;
  }

  .third {
    border: 2px solid rgb(120, 120, 120);
  }

  .third img {
    width:250px;
    height:160px;
  }

  .fourth {
    border: 2px solid rgb(180, 180, 180);
  }
